:root {
    --Primary: #d4d5d9;
    --Secondary: #203334;
    --text: #f6d746;
    --Absent: #6f502a;
    --Extra: #3CAF7F;
    --Font-Family: 'Abril Fatface', cursive;
    --Logo-Font: 'Herr Von Muellerhoff', cursive;
    --New-Font: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    font-family: var(--Font-Family);
}
p{
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
#clock{
    position: absolute;
    width: 100px;
    height: 90px;;
    bottom: -45px;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, 0%);
}
.clock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    opacity: 1;
}

.backgroundWatch{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55%;
    left: 55%;
    z-index: 4;
    transform: translate(-50%, -50%);
}
.backgroundWatch img{
    width: 80%;
}
.frame{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.frame img{
    width: 100%;
}
.clock-face {
    position: relative;
    width: 85%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    background: transparent;
    left: -0.5em;
    top: 0.5em;
    z-index: 10;
    transform-origin: center center;
}
.center-dot{
    width: 9px;
    height: 9px;
    position: absolute;
    top: 42%;
    left: 49%;
    background-image: url(../img/pilStorCopy.png);
    background-position: center center;
    background-size: cover;
    z-index: 322;
}
.hand {
    position: absolute;
    top: 50%;
    transform-origin: 0 50%;
    transform: rotate(-90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand {
    position: absolute;
    width:2em;
    height: 2px;
    background-image: url(../img/pilStor.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: left center;
    left: 50%;
    top: 50%;
    margin-top: -0em;
    margin-left: 0.2em; /* Adjust for the half-width of the element */
    transform: rotate(90deg);
}
.hour-hand.rotated {
    transform: rotate(30deg);
}


.min-hand {
    position: absolute;
    width: 2.2em;
    height: 0.3em;
    background-image: url(../img/pilLille.png);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: right center;
    left: 45%;
    top: 49%;
    z-index: 22;

    margin-top: 0px;
    margin-left: -1.7em; /* Adjust for the full width of the element */
    transform: rotate(0deg);
}
.min-hand.rotated {
    transform: rotate(90deg); /* rotate the element 90 degrees */
}
.second-hand {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 39%;
    height: 4px;
    z-index: 3s;
    background-image: url(../img/pilTilLilleUrskive.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: right center;
    margin-left: -1.8em; /* Adjust for the half-width of the element */
    transform: rotate(0deg);
}
.second-hand.rotated {
    transform: rotate(6deg);
}
.clock-face h3{
    color: var(--Secondary);
    font-family: var(--Logo-Font);
    font-size: 0.7em;
    z-index: 0;
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2em;
}

nav {
    width: 90%;
    padding: 0 5%;
    height: 5em;
    background-color: var(--Primary);
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 310;
    top: 0;
}
#companyName {
    font-family: var(--Logo-Font);
    color: var(--Primary);
    font-size: 50px;
}
#burgerBtn {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.line {
    width: 80%;
    height: 2px;
    background-color: var(--Primary);
    transition: 0.4s;
}
.line1 {
    position: absolute;
    top: 10%;
}
.line2 {
    position: absolute;
    bottom: 10%;
}
.change .line1 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(2px, 2px);
}

.change .line2 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(8px, -8px);
}

#navContainer {
    position: absolute;
    top: 4.5em;
    right: 0.1em;
    border-radius: 1em;
    width: 50%;
    z-index: 1422;
}

.navLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;


}

.navLinks a {
    text-decoration: none;
    color: var(--Primary);
    margin: 5%;
    padding: 3% 5%;
}
#slideshow {
    display: flex;
    align-items: center;
    position: relative;
    
}
.number {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slogan {
    position: absolute;
    color: var(--Primary);
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
}

.slogan h1 {
    letter-spacing: 2px;
    text-align: center;
}
.sloganAni{
    animation: sloganAni 2s ease none;
    position: relative;
    top: -2em;
    opacity: 1;
}

@keyframes sloganAni {
    0%{right: 100%;
        opacity: 0;}
    50%{
        opacity: 0;
    }
    100%{right: 0%;
    opacity: 1;}
}
.sloganAni2{
    animation: sloganAni2 2s ease none;
    position: relative;
    top: -1.5em;
    opacity: 1;
}

@keyframes sloganAni2 {
    0%{left: 100%;
        opacity: 0;}
    50%{
        opacity: 0;
    }
    100%{left: 0%;
    opacity: 1;}
}
#videoHeader {
    position: relative;
    width: 100%;
    height: 30em;
    z-index: -22;
    background-position: center;
    object-fit: cover;
}

.opacityVideo {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -4;
}

.supportBtn {
    color: var(--Primary);
    padding: 0.5em;
    background-color: var(--Secondary);
    text-decoration: none;
    border-radius: 2px;
    font-size: 0.7em;
    font-family: var(--New-Font);
    font-weight: 600;
    z-index: 10;
    width: 150px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
}

.supportBtn:hover {
    color: var(--Secondary);
    background-color: var(--Primary);

}

#gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#HowItWorks {
    display: flex;
    width: 50%;
    margin: 6em auto;
    gap: 5em;
    flex-direction: column;
    justify-content: space-between;

}

.steps {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    min-height: 15em;
    background-color: var(--Primary);
    padding: 1em;
    border-radius: 0.5em;

}

.steps h1{
    display: inline-block;
    font-size: 1em;
}

.steps span {
    display: flex;
    justify-content: start;
    text-align: start;
    align-items: center;
    gap: 0.5em;
}

.steps p {
    font-family: var(--New-Font);
    font-weight: 700;
    text-align: center;
    font-size: 0.8em;
    padding: 1em;

}
.extraImgHowItWorks{
   width: 100%;
   height: 15em;
    max-height: 20em;
    border-radius: 1em;
}
#desktopForWatches {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5em;
    position: relative;
    top: 5em;
    gap: 5em;
    justify-content: space-between;
}
.sponsorImg {
    width: 5em;
    /* set the width to 2em for each image */
    height: 5em;

    /* add some space between images */
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    z-index: -2;
    animation: slide 3s ease infinite;
}
@keyframes slide {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15em);
    }

}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
  }
  .mySlides img{
    width: 100%;
    border-radius: 50%;
  }

  .mySlides {
    position: relative;
    width: 25%; 
    height: 100%;
  }
  .firstIcon{
    left: 0%;
    animation: slides1 20s linear infinite;
    animation-timing-function: linear;
    will-change: transform;
    z-index: 4;
}
.secondIcon {
    left: 0;
    animation: slides2 20s linear infinite;
    animation-timing-function: linear;
    will-change: transform;
    z-index: 3;

}
.thirdIcon {
    left: 0%;
    animation: slides3 20s linear infinite;
    animation-timing-function: linear;
    will-change: transform;
    z-index: 2;
}
.fourthIcon {
    left: 0%;
    animation: slides4 20s linear infinite;
    animation-timing-function: linear;
    z-index: 1;

    will-change: transform;
}
@keyframes slides4 {
    0% {
        transform: translate3d(0, 0, 0);
    }   

    25% {
        transform: translate3d(100%, 0, 0);
    }

    26% {
        transform: translate3d(-300%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slides3 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(200%, 0, 0);
    }

    51% {
        transform: translate3d(-200%, 0, 0);
    }

    100% {
        transform: translate3d(0%, 0, 0);
    }
}

@keyframes slides2 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    75% {
        transform: translate3d(300%, 0, 0);
    }
    76%{
        transform: translate3d(-100%, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);

    }

}
@keyframes slides1 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(400%, 0, 0);
    }
}

#productDescription {
    position: relative;
    width: 90%;
    margin: 5% auto;
}

.watchImg {
    width: 100%;

}

#welcomeImg {
    width: 80%;
    object-fit: cover;
    margin: auto;
    margin: 40px 10%;
}

.contentForCompany {
    text-align: center;
    color: var(--Secondary);
    width: 80%;
    margin: auto;
}

.contentForCompany h1 {
    margin: 5%;
    text-transform: uppercase;
}

.contentForCompany p {
    font-family: var(--New-Font);
    font-weight: 700;
}

#sellingWatch {
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0em;
}

.monthName {
    position: absolute;
    top: -3em;
    left: 30%;
    transform: translateX(-50%,50%);
    color: var(--Secondary);
    font-size: 1em;
    font-family: var(--New-Font);

}

.donationName {
    color: var(--Secondary);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 2%;
    left: -25%;
    padding: 5px 1px;
    border-radius: 2px;
    width: 150%;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}

.solded {
    width: 100%;
    position: relative;
    top: 3%;
    left: 2%;
    padding: 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
    color: var(--Secondary);
    margin: 1% auto;
    font-family: var(--New-Font);
    font-weight: 800;
    display: flex;
    gap: 1em;
}

.solded span {
    margin: 0 5px;
}

.watch {
    width: auto;
    margin: auto;
    margin: 1em auto;
}

.watch img {
    width: 110%;
    height: 350px;
    object-fit: cover;
    position: relative;
    left: 2px;
}

.watch p {
    color: var(--Extra);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 10% 0;

}

.purposeForWatch {
    color: var(--Secondary);
    text-align: center;
    padding: 5% 2% 0% 2%;
    font-family: var(--New-Font);
    font-weight: 900;
}

.priceForWatch {
    color: var(--Primary);
    background-color: var(--Secondary);
    width: 30%;
    padding: 2% 2%;
    margin: 3% auto;
    text-align: center;
    border-radius: 2px;
}

.btn {
    color: var(--Secondary);
    background-color: var(--Primary);
    width: 50%;
    padding: 5% 7%;
    text-align: center;
    border-radius: 2px;
    position: relative;
    bottom: 0%;
    margin: auto;
    cursor: pointer;
}

.buyNow:hover {

    color: var(--Primary);
    border-radius: 2px;
    background-color: var(--Secondary);
    font-weight: 700;

}
.sellingDetails{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
}
.sellingDetails img{
    width: 100%;
}
.sellingDetails p{
    font-family: var(--New-Font);
    font-weight: 700;
    text-align: center;
}
.projects{
    position: relative;
}
.proggresBar{
    width:0.55em;
    min-height: 100%;
    background-color:var(--Primary);
    border-radius: 20em;
    position: absolute;
    top: 0;
    left: -1em;
    
}
.progressBarEle{
    width: 0.55em;
    height: 7em;
    z-index: 1;
    background-color: var(--Secondary);
    border-radius: 20em;
    opacity: 1;
}
.progressBarEle:nth-child(1){
    opacity: 1;
}
.progressBarEle:nth-child(2){
    opacity: 0;

}
.progressBarEle:nth-child(3){
    opacity: 0;

}

#market h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    color: var(--Secondary);
}

#market {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0% 10%;
    gap: 10px;
    
}

.articleContainer {
    width: 40%;
    text-align: center;
    line-height: 1.8em;
    position: relative;
    background-color: var(--Secondary);
    border: none;
    border-radius: 10px;
    height: 300px;
    margin-top: 3em;

}

.articleIMGContainer {
    width: 100%;
    height: 50%;
    background-color: white;

}

.articleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.textContent {
    position: relative;
    margin: auto;
    height: 50%;
}

.overlayContentContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
}

.articlePage {
    width: 100vw;
    height: 100vh;
    max-width:100vw;
    max-height: 100vh;
    background-color: white;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
.partner{
    width: 20%;
    margin: 1.2em;
}
.aboutTheCause{
    padding: 2em;
}
.articlePage h1{ 
    font-size: 1.5em;
    text-align: center;
    color: var(--Secondary);

}
.articlePage p{
    padding: 1em;
    text-align: center;
    font-family: var(--New-Font);
    font-weight: 700;
}
.howWeHelp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
}
.imgAndText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgAndText p{
    font-size: 12px;
}
.howWeHelpImg{
    width: 2em;
}
.howWeHelp h5{
    width: 40%;
    margin: auto;
    color: var(--Secondary);
}
.namecontainer {
    background-color: var(--Absent);
    height: 20px;

}

.namecontainer p {
    font-family: var(--Logo-Font);
    font-size: 40px;
    position: relative;
    bottom: 2px;
    color: var(--Primary);
}

.articlePrice {
    color: var(--text);
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}

.unitContainer {
    display: flex;
    justify-content: space-between;

}

.articleDonation {
    color: var(--text);
    text-align: center;
    margin: auto;
    font-size: 12px;
}

#subscribeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    gap: 15px;
    color: var(--Primary);
}

#subscribeSection input::placeholder {

    text-align: center;
}

.priviusDonationIMg {
    width: 55px;
    margin: 5px;
}

.socialNetwork {
    display: flex;
    justify-content: center;
    gap: 7%;
    margin: 10%;
}

footer {
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    gap: 50px;
    line-height: 23px;
    color: var(--Secondary);
    background-color: var(--Primary);
}

footer div span {
    text-transform: uppercase;
    font-weight: bold;
}

footer div p {
    font-family: var(--New-Font);
    font-weight: 700;
}

footer div span p {
    margin-bottom: 15px;
    font-family: var(--Font-Family);
}



.hide {
    display: none;
    z-index: -2;
}

#closeBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    top: 5%;
}


.closeLine {
    width: 80%;
    height: 2px;
    background-color: var(--Secondary);
    margin: 0 auto;


}

.lineLeft {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: rotate(45deg);
}

.lineRight {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: rotate(-45deg);
}



@media only screen and (min-width: 768px) {
    .aboutTheCause{
        width: 50%;
        position: absolute;
        right: 7em;
        top: 7em;
    }
    .howWeHelp{
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1em;
        width: 90%;
        margin: auto;
        justify-content: space-between;

    }
    .imgAndText{
        width: 48%;
        justify-content: flex-start;
    }
    .howWeHelp h5{
        text-align: center;
        font-size: 2em;
    }
    .partner{
        width: 20em;
    }
    #clock{
        width: 200px;
        height: 200px;;
        bottom: -110px;
        left: 51%;
    }
    .center-dot{
        width: 14px;
        height: 14px;
        top: 46%;
        left: 45%;
    }
    .hour-hand {
        width: 3.5em;
        height: 20px;
        background-position: center center;
        background-size: contain;
        transform-origin: 10% center;
        z-index: 2;
        margin-top: -0.5em;
        margin-left: -0.5em; /* Adjust for the half-width of the element */
    }
    .min-hand {
        position: absolute;
        width: 5em;
        height: 3em;
        background-size: contain;
        transform-origin: 90% center;
        left: 49%;
        top: 50%;
        z-index: 122;
        margin-top: -1.2em;
        margin-left: -4.5em; /* Adjust for the full width of the element */
    }
    .second-hand {
        top: 49%;
        width: 40%;
        height: 0.6em;
        background-size: contain;
        transform-origin: 90% center;
        margin-top: 0em;  
        margin-left: -3.9em; /* Adjust for the half-width of the element */
    }
    .clock-face h3{
        font-size: 1.0em;
        left: 50%;
    }
    #companyName {
        font-size: 5em;
        position: relative;
        top: -9px;
        margin: auto 2%;
    }
    #burgerBtn {
        display: none;
    }
    #navContainer {
        position: relative;
        top: 0%;
        display: block;
    }

    .navLinks {
        flex-direction: row;
        font-size: 1em;
        gap: 1em;
    }

    .navLinks a {
        margin: auto;
        padding: 1em 2em;
        font-weight: normal;
    }
    .navLinks a:hover {
        color: var(--Primary);
        border-radius: 2px;
        background-color: var(--Secondary);
        font-weight: 700;
    }

    .slogan {
        font-size: 2em;
    }
    .sloganAni{
        
        top: -1.5em;
        
    }
    
    .supportBtn {
        position: absolute;
        color: var(--Primary);
        padding: 1em;
        background-color: var(--Secondary);
        text-decoration: none;

        border-radius: 2px;
        align-items: center;
        width: 150px;
        font-size: 1em;
        font-family: var(--New-Font);
        font-weight: 600;
        z-index: 10;
        top: 60%;
    }

    .supportBtn:hover {
        color: var(--Secondary);
        background-color: var(--Primary);
    }
   
    #videoHeader {
        max-width: 100%;
        max-height: 100vh;
        height: 100vh;
    }
    #HowItWorks {
        flex-direction: row;
        width: 100%;
        margin: 10em auto;
        justify-content: space-evenly;
    }
    .steps {
        gap: 5px;
        align-items: start;
        padding: 1em;
        width: 10em;
        height: 25em;
    }
    .text-how-works{
        width: 100%;
    }
    .steps p {
        text-align: start;
        padding: 1em 0;
    
    }

    #sponsors {
        width: 10em;
        position: relative;
        
    }

    #sponsors img {
        width: 10em;
    }

    @keyframes slide {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(15em);
            
            /* move first image to end of the slider */
        }
    }
    .extraImgHowItWorks{
        width: 85%;
        background-size: cover;
        height: 13em;
        margin: 0 auto;
    }
    #productDescription {
        display: flex;
        width: 80%;
    }
    #welcomeImg {
        margin: 5em auto;
    }
    .contentForCompany {
        text-align: start;
    }
    .contentForCompany h1 {
        margin: 5% 0%;
        text-transform: uppercase;
    }
    .sellingDetails{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        position: relative;
       margin: 0;
        
    }
    #sellingWatch {
        width: 30%;
        margin: 0;
    }
    .sellingDetails img{
        width: 70%;
        margin: auto;
    }
    .sellingDetails p{
        font-family: var(--New-Font);
        font-weight: 700;
    }
   

    .donationName {
        top: 0%;
        padding: 0px;
        left: 0%;
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }

    .solded {
        width: 50%;
        font-size: 12px;
        margin: 1em auto;
        left: 3em;
        top: -1em;
    }
    .watch p {
        margin: 0;
        position: relative;
        left: 5px;
    }

    .purposeForWatch {
        padding: 0em;
        font-weight: 700;
    }
    .priceForWatch {
        padding: 0;
        font-size: 1.5em;
        margin: 0.5em auto;
    }
    .btn {
        padding: 2% 5%;
    }

    #market h1 {
        padding: 3em;
        font-size: 24px;
        text-transform: uppercase;
    }

    #desktopForWatches {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 7em;
    }
    .projects{
        display: flex;
        gap: 2em;
        margin: 1em;
    }
    .proggresBar{
        width: 100%;
        height: 1em;
        min-height: 1em;
        top: 95%;
        margin: 1em;
    }
    .progressBarEle{
        width: 33%;
        height: 1em;
    }
    #market {
        margin: auto;
        gap: 1em;
        width: 80%;
        height: 100vh;
        position: relative;
        top: 9em;

    }
    .articleContainer {
        width: 20%;
        bottom: 10em;
    }
    .articleImg {
        object-fit: contain;
    }
    .namecontainer p {
        color: var(--text);
    }

    .articlePrice {
        color: var(--Primary);
    }
    .articleDonation {
        color: var(--Primary);
    }
    .overlaySposnors {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

    }
    .sponsorImg {
        width: 8em;
        /* set the width to 2em for each image */
        height: 8em;
       /* add some space between images */
        left: 20%;
    }
    .mySlides img{
        width: 35%;
    }
    .mySlides {
        width: 100%; 
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
}