:root{
    --Primary : #3A3A3A;
    --Secondary: #FFFFEC;
    --text: #5F5C57;
    --Absent: #FF3900;
    --Extra: #3CAF7F;
    --Font-Family:'Quicksand', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Font-Family);
}
nav{
    width: 100%;
    height: 5em;
    background-color: var(--Primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#burgerBtn {

    position: relative;
    width: 30px;
    height: 20px;
}
#navContainer{
    position: absolute;
    top: 9%;
    right: 0%;
    width: 50%;
    height: 100vh;
    background-color: var(--Primary);
    z-index: 99;
}

.line {
    width: 80%;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
}
.line1 {
    position: absolute;
    top: 10%;
}

.line2 {
    position: absolute;
    bottom: 10%;
}

.change .line1 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(2px, 2px);
}

.change .line2 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(8px, -8px);
}
#logo img{
    position: relative;
    left: -20px;
}
#navIcons{
    display: flex;
    gap: 12px;
    color: var(--Secondary);
}
#navIcons img{ 
    width: 22px;
}
#slideshow{
    display: flex;
    align-items: center;
    position: relative;
}
#welcomeImg{
    width: 100%;
    max-height: 230px;
}
.arrowLeft{
    z-index: 2;
    position: absolute;
    left: 5%;
}
.arrowRight{
    position: absolute;
    right: 5%;
}
#sponsors{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--Primary);
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: auto;
    position: relative;
    bottom: 40px;
}
#sponsors img{
    width: 40px;
}
#market h1{
    width: 100%;
    text-align: center;
}
#market{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10% 0% 10%;
    gap: 10px;
}
.articleContainer{
    width: 40%;
    margin: 0%;
    text-align: center;
    border-style: groove;
    line-height: 1.8em;
    position: relative;
}
.articleImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.articleName{

}
.textContent{
    margin: auto;
}
.markAsSold{
    background-color: gray;
    border:none;
    padding: 2px 5px;
}
.readMore{
    color: #3A3aaa;
    text-decoration: underline;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
.articlePage{
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 22;
    position: fixed;
    top: 0;
    left: 0;
}
.namecontainer{
    display: flex;
    justify-content: space-between;

}
.modelContainer{
    display: flex;
    justify-content: space-between;
}
.unitContainer{
    display: flex;
    justify-content: space-between;

}
#subscribeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    gap: 15px;
    color: var(--Primary);
}
#subscribeSection input::placeholder{
    
    text-align: center;
}
.socialNetwork{
    display: flex;
    justify-content: center;
    gap: 7%;
    margin: 10%;
}
footer{
    padding:5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    gap: 50px;
    line-height: 23px;
    color: var(--Secondary);
    background-color: var(--text);
}
footer div span p{
    margin-bottom: 15px;
}
footer div span{
    text-transform: uppercase;
}
.hide {
    display: none;
    z-index: -2;
}