:root{
    --Primary : #d4d5d9;
    --Secondary: #203334;
    --text: #f6d746;
    --Absent: #6f502a;
    --Extra: #3CAF7F;
    --Font-Family:'Quicksand', sans-serif;
    --Logo-Font: 'Herr Von Muellerhoff', cursive;
    /*#203334
    #6f502a;
    #ffbd59*/

}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Font-Family);
}
form {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input.form-control {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button.btn-primary {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
nav{
    width: 90%;
    padding: 0 5%;
    height: 5em;
    background-color: var(--Primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    
    top: 0;
}
#companyName{
    font-family: var(--Logo-Font);
    color: var(--Secondary);
    font-size: 50px;
}
#burgerBtn {

    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    
}
#navContainer{
    position: absolute;
    top: 9%;
    right: 0%;
    width: 50%;
    height: 100vh;
    background-color: var(--Primary);
    z-index: 99;
}

.line {
    width: 80%;
    height: 2px;
    background-color: var(--Secondary);
    transition: 0.4s;
   
}
.line1 {
    position: absolute;
    top: 10%;
}

.line2 {
    position: absolute;
    bottom: 10%;
}

.change .line1 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(2px, 2px);
}

.change .line2 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(-45deg) translate(8px, -8px);
}
#logo img{
    position: relative;
    left: -20px;
}
#navIcons{
    display: flex;
    gap: 12px;
    color: var(--Secondary);
}
#navIcons img{ 
    width: 22px;
}
#slideshow{
    display: flex;
    align-items: center;
    position: relative;

}
.opacityVideo{
    position: absolute;
    top: 0%;
    left: 0;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -4;
}

.videoHeader{
    position: relative;
    width: 100%;
    max-height: 300px;
    height: 100%;
    z-index: -22;
    
}
.slogan{
    position: absolute;
    background-color: transparent;
    color: var(--Primary);
    width: 45%;
    text-align: center;
    margin: 0 5%;
    font-size: 12px;
    top: 18%;
    left: 1%;
}
.hideMe{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    bottom: -20%;
    z-index:10;

}
#welcomeImg{
    width: 55%;
    object-fit: cover;
    max-height: 300px;

    position: absolute;
    top: -5%;
    right: -10%;
    z-index: 5;
    
}
.arrowLeft{
    z-index: 2;
    position: absolute;
    left: 5%;
}
.arrowRight{
    position: absolute;
    right: 5%;
}
#sponsors{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: auto;
    margin: 10% auto;
}
#sponsors img{
    width: 50px;
    object-fit:contain;
    z-index:10
}
.priviusDonationIMg{
    width: 55px;
    margin: 5px;
}
#sellingWatch{
    width: 50%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.watch{
    width: auto;
    margin: auto;
}
.watch img{
    width: 110%;
    height: 350px;
    object-fit: cover;
    position: relative;
    left: 2px;
}
.watch p{
    color: var(--Extra);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 10% 0;

}
.donationName{
    color: var(--Secondary);
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 2%;
    padding: 5px 10px;
    border-radius: 2px;
    left: -26%;
    width: 150%;
    text-align: center;
    margin: auto;
}
.solded{
    width: 50%;
    position: relative;
    top: 3%;
    left: 2%;
    padding: 5px 10px;
    background-color: var(--Absent);
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: var(--text);
    margin: 10% auto;
}
.purposeForWatch{
    color: var(--Absent); 
    text-align: center;
    padding: 5% 2% 0% 2%;
    font-weight: 700;
}
.priceForWatch{
    color: var(--Absent);
    padding: 2% 2%;
    text-align: center;

}
.btn{
    color: var(--text);
    background-color: var(--Primary);
    width: 50%;
    padding: 5% 7%;
    text-align: center;
    border-radius: 2px;
    position: relative;
    bottom: 0%;
    margin: auto;
}

#market h1{
    width: 100%;
    text-align: center;
}
#market{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10% 0% 10%;
    gap: 10px;
}
.articleContainer{
    width: 40%;
    text-align: center;
    line-height: 1.8em;
    position: relative;
    background-color: var(--Secondary);
    border-radius: 10px;
    height: 300px;
    
}
.articleIMGContainer{
    width: 100%;
    height: 50%;
   
}
.articleImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.articleName{

}
.textContent{
    margin: auto;
    height: 50%;
}
.markAsSold{
    background-color: gray;
    border:none;
    padding: 2px 5px;
}
.readMore{
    color: #3A3aaa;
    text-decoration: underline;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
.articlePage{
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 22;
    position: fixed;
    top: 0;
    left: 0;
}
.namecontainer{
    background-color: var(--Absent);
    height: 20px;
    
}
.namecontainer p{
    font-family: var(--Logo-Font);
    font-size: 40px;
    position: relative;
    bottom: 2px;
    color: var(--text);
}

.articlePrice{
    color: var(--text);
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}
.unitContainer{
    display: flex;
    justify-content: space-between;

}
.articleDonation{
    color: var(--text);
    text-align: center;
    margin: auto;
    font-size: 12px;
}
#subscribeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    gap: 15px;
    color: var(--Primary);
}
#subscribeSection input::placeholder{
    
    text-align: center;
}
.socialNetwork{
    display: flex;
    justify-content: center;
    gap: 7%;
    margin: 10%;
}
footer{
    padding:5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    gap: 50px;
    line-height: 23px;
    color: var(--Secondary);
    background-color: var(--Primary);
}
footer div span p{
    margin-bottom: 15px;
}
footer div span{
    text-transform: uppercase;
}
.hide {
    display: none;
    z-index: -2;
}